<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- namespace：对应哪个接口 -->
<mapper namespace="dao.RoleMapper">

    <resultMap id="roleMapper" type="role">
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleSex" column="role_sex"/>
        <result property="rolePhone" column="role_phone"/>
        <result property="roleAddress" column="role_address"/>
    </resultMap>

    <!--<select id="getRoleByXml" parameterType="int" resultType="role">
        select * from role where role_id = #{roleId}
    </select>-->

    <select id="getRoleByXml" parameterType="int" resultMap="roleMapper">
        select * from role where role_id = #{roleId}
    </select>

    <insert id="insertRole" parameterType="role" useGeneratedKeys="true" keyProperty="roleId">
        insert into role (role_name,role_sex) values(#{roleName},#{roleSex})
    </insert>

    <delete id="deleteRole" parameterType="int">
        delete from role where role_id = #{roleId}
    </delete>

    <update id="updateRole" parameterType="role">
        update role set note = #{note} where role_id = #{roleId}
    </update>

    <select id="findRoles" parameterType="string" resultMap="roleMapper">
        select * from role where role_name like concat('%',#{roleName},'%')
    </select>




</mapper>